//@import "~bootstrap/dist/css/bootstrap.min.css";

.container{
  padding: 42px;
  flex-grow: 1;

}

.flex
{
  flex: 1;
}

.center-text{
  text-align: center;
}
#logs{
  font-size: 14px;
}

#results {
  word-wrap:break-word;
  font-size: 24px;
}

.resultados {
  height: 25em;
}
.logo{
  width: 130px;
  height: 130px;
}

#affdex_elements{
  height: 100%;
  min-height: 35vh;
}

#face_video_canvas,#face_video{
  width: 85%;
  border: 5px solid;
  text-align:center;
}
.emoji{
  font-size: 100px;
  margin: 90px;
}

.log_msg{
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.20588em;
}

.login {
  margin-left: 500px;
  margin-right: 500px;
}

.login-up {
 text-align: center;
}


canvas {
  display: inline !important;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
